<select id="year" class="month_picker" style="width: 80px" data-value="<%= @year %>">
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
</select>
年
<select id="month" class="month_picker" style="width: 70px" data-value="<%= @month %>">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select>
月

<table id="calendar" class="table table-bordered">
  <tr>
    <th>日</th>
    <th>一</th>
    <th>二</th>
    <th>三</th>
    <th>四</th>
    <th>五</th>
    <th>六</th>
  </tr>

  <input id="year" type="hidden" value="<%= @year %>">

  <% @calendar_data.each_with_index do |x, i| %>

      <%= tag('tr') if i % 7 == 0 %>

      <td data-id="<%= x.con_id %>" class="cell">
        <% if x.day != 0 %>
            <div class="date"><%= @month %>/<%= x.day %></div>
        <% end %>

        <div class="info">
          <% if x.con_id == 0 %>
              不提供訂位
          <% else %>
              <table class="clean-table">
                <% (1..6).each do |j| %>
                    <% unless x.method("n#{j}".to_sym).call.blank? %>
                        <tr>
                          <td><%= x.method("n#{j}".to_sym).call %></td>
                          <td style="text-align: right"><%= @books[i].method("zone#{j}".to_sym).call %>/ <%= x.method("z#{j}".to_sym).call %></td>
                        </tr>
                    <% end %>
                <% end %>
                <% if !@books[i].other.blank? && @books[i].other > 0 %>
                    <tr>
                      <td>其他時段</td>
                      <td style="text-align: right"><%= @books[i].other%></td>
                    </tr>
                <% end %>
              </table>
          <% end %>
        </div>
      </td>

      <%= tag('/tr') if i % 7 == 6 %>

  <% end %>
</table>
<div id="show"></div>
<script>
    id_with_name = <%= raw @id_with_name.to_json %>
</script>


