
<% @books.each do |booking| %>

  <div style="width:100%; border: 1px solid rgb(207,207,207);margin-bottom: 2px">
  </div>

  <div style="float:left; width: 40%; height: 50%;text-align: center">
    <h4><%= booking.booking_time.strftime("%Y-%m-%d %H:%M")%></h4>
    <img width="300" height="225" src="/res/<%= booking.restaurant_id %>/images/<%= booking.restaurant_pic %>" alt="RES_PIC">
  </div>
  <div style="float: right; width: 60%; height: 50%">
    <div style="width: 15%; font-size: 16px; text-align: right;float: left; margin-top: 10px; margin-bottom: 5px">
      餐廳：</br>
      地址：</br>
      名字：</br>
      Mail：</br>
      電話：</br>
      人數：</br>
      出席者：</br>
      備註：
    </div>
    <div style="width: 85%; font-size: 16px; text-align: left;float: right; margin-top: 10px; margin-bottom: 5px">
      <%= booking.restaurant_name %></br>
      <%= booking.restaurant_address %></br>
      <%= booking.name %></br>
      <%= booking.email %></br>
      <%= booking.phone %></br>
      <%= booking.num_of_people %></br>
      <%= booking.participants %></br>
      <%= booking.remark %></br>
    </div>

    <hr color="#D6D6D6" size="5" width="100%">

    <div style="width: 15%; font-size: 16px; text-align: right;float: left; margin-top: -10px; margin-bottom: 5px">
      消費感想：
    </div>
    <div name="feedback_div" style="width: 85%; font-size: 16px; text-align: left;float: right; margin-top: -10px; margin-bottom: 5px">

      <label name="feedback_label"><%= booking.feedback %></label>
      <textarea name="feedback_area" style="display: none"><%= booking.feedback %></textarea>
      <a href="#" name="showEdit" data-value="<%= booking.id %>" style="font-size: 16px;color: blue;padding-left: 10px">輸入感想</a>

      <div name="btn_div" style="display: none">
        <button class="btn" name='save_feedback'>確定</button>
        <button class="btn" name='close_edit'>關閉</button>
      </div>

      <!--<a href="#myModal" role="button" data-toggle="modal" name="showModal" data-value="<% booking.id %>" id="feedback_btn" style="font-size: 16px;color: blue;padding-left: 10px">輸入感想</a>-->
    </div>

  </div>

  <table style="width: 100%">
  </table>
<% end %>



