<input type="text" name="" id="show_day" class="datepicker" value="<%= @show_select_date %>">
<br>
<% @zones_books.each do |z| %>
  <table class="table daily_info">
    <tr>
      <th colspan="8"><div class="mark1"></div>&nbsp;<%= z.name %></th>
    </tr>
    <tr>
      <td>時間</td>
      <td>人數</td>
      <td>訂位人大名</td>
      <td>訂位人電話</td>
      <td>訂位人EMail</td>
      <td>備註</td>
      <td></td>
      <td></td>
    </tr>

    <% z.books.each do |b| %>
    <tr data-id="<%= b.id %>">
      <td><%= b.booking_time %></td>
      <td><%= b.num_of_people %></td>
      <td><%= b.name %></td>
      <td><%= b.phone %></td>
      <td><%= b.email %></td>
      <td><%= b.remark %></td>
      <td><a href="" class="btn modify">修改</a></td>
      <td><a href="" class="btn delete">刪除</a></td>
    </tr>
    <% end %>
    <tr><td colspan="7"></td></tr>
  </table>
<% end %>
