<!DOCTYPE html>
<html>
<head>
  <title>DingBa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="front_header">
  <div class="container">
    <div class="row-fluid" style="">
      <div class = "span2">
        <img src="/assets/booker/logo.png" alt="訂吧" id="logo">
      </div>
      <div class="span9">
        <div class="row-fluid">
          <div class="span6">
            <div style="font-size: 50px;top: 57px;width: 300px;font-style:italic;">
              24
              <span style="font-size: 20px;margin-left: -10px;font-style:italic;">hr</span>
              <span style="font-size: 20px;font-style:normal;letter-spacing: 1px;">餐廳網路訂位平台</span>
            </div>

            <div id="logo_word">
              訂位不打烊，你我都是VIP

              <span style="margin-left: 100px;font-size: 15px">
                <% if @booker.id.blank? %>
                    <%= link_to "登入", booker_session_new_path(@res_url) %> |
                    <%= link_to "註冊", "/registrations/booker_new" %>
                <% elsif !@booker.id.blank? %>
                    <span style="color: #000000">Hi,</span> <%= @booker.name %>
                    <span style="color: #000000">你好 </span>
                    <a href="/booker_manage/index" id="my_dingba" style="color: rgb(233,147,88)">| 我的訂吧 |</a>
                    <%= link_to "登出", destroy_u_session_path, method: :delete  %>
                <% end %>
              </span>
            </div>
            <% if !@booker.id.blank? %>
                <a href="/restaurant#/calendar/restaurant_month" target="_blank"><img src="/assets/res/go_restaurant.png" alt="訂吧" style="margin-left: 600px"></a>
            <% end %>
          </div>
        </div>
      </div>
      <img src="/assets/booker/line.png" id="line">
    </div>
  </div>
</div>
<% if alert %>
    <script type="text/javascript">alert("<%= alert %>");</script>
<% end %>
<%= yield %>

<div class="row-fluid" id="about">
  <div class="container">
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span6">
        <a href="/home/about_codream" target="_blank" style="font-size: 16px">關於我們</a>
        <a href="/home/clause" target="_blank" style="font-size: 16px">會員條款</a>
        <a href="/home/q_and_a" target="_blank" style="font-size: 16px">常見問與答</a>
      </div>
      <div class="span3"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        此定位平台為免費資源，不收取任何費用，由Codream團隊提供。
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid" id="copyright">
    <div class="span3"></div>
    <div class="span6">
      <div>2013 CoDream. All Rights Reserved.</div>
      <a href="" id="fb" target="_blank"></a>
      <a href="" id="blog" target="_blank"></a>
      <a href="" id="gp" target="_blank"></a>
      <a href="" id='yt' target="_blank"></a>
    </div>
    <div class="span3"></div>
  </div>
</div>
</body>
</html>
